Repository dengfuping/oceanbase-playground: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, umi lint --fix --eslint-only, umi lint --fix --stylelint-only

.lintstagedrc:

{
  "*.{md,json}": [
    "prettier --cache --write"
  ],
  "*.{js,jsx}": [
    "umi lint --fix --eslint-only",
    "prettier --cache --write"
  ],
  "*.{css,less}": [
    "umi lint --fix --stylelint-only",
    "prettier --cache --write"
  ],
  "*.ts?(x)": [
    "umi lint --fix --eslint-only",
    "prettier --cache --parser=typescript --write"
  ]
}

chore(config): Add metas for seo
  .umirc.ts
Due: none

fix: Enable withCredentials for eventTracking
  src/services/TrackingController.ts
Due: none

fix: Add sendMessage for iframe postMessage
  src/pages/OceanBaseWithFlink/index.tsx
  src/pages/OceanbaseWithFlink/index.tsx
Due: none

fix(config): Add @umijs/plugins/dist/analytics plugin
  .umirc.ts
Due: none

fix(tracking): Add cookieId
  src/pages/OceanBaseWithFlink/OrderForm.tsx
  src/pages/OceanbaseWithFlink/OrderForm.tsx
Due: none

fix: Remove withCredentials for eventTracking
  src/services/TrackingController.ts
Due: none

improve(style): Layout and path support size responsive
  .husky/commit-msg
  src/pages/OceanBaseWithFlink/Chart.tsx
  src/pages/OceanBaseWithFlink/OrderForm.tsx
  src/pages/OceanBaseWithFlink/index.less
  src/pages/OceanBaseWithFlink/index.tsx
  src/pages/OceanbaseWithFlink/Chart.tsx
  src/pages/OceanbaseWithFlink/OrderForm.tsx
  src/pages/OceanbaseWithFlink/index.less
  src/pages/OceanbaseWithFlink/index.tsx
Due: prettier --cache --write, umi lint --fix --stylelint-only

Delete src/pages/OceanbaseWithFlink directory
  src/pages/OceanbaseWithFlink/Chart.tsx
  src/pages/OceanbaseWithFlink/NewOrder.tsx
  src/pages/OceanbaseWithFlink/Order.tsx
  src/pages/OceanbaseWithFlink/OrderForm.tsx
  src/pages/OceanbaseWithFlink/constant.ts
  src/pages/OceanbaseWithFlink/index.less
  src/pages/OceanbaseWithFlink/index.tsx
  src/pages/OceanbaseWithFlink/util.ts
Due: prettier --cache --write, umi lint --fix --stylelint-only

Delete src/pages/.DS_Store
  src/pages/.DS_Store
Due: none

improve: Adjust qrcode position
  src/pages/OceanBaseWithFlink/OrderForm.tsx
  src/pages/OceanBaseWithFlink/index.tsx
Due: none

chore: Remove unused code
  src/pages/OceanBaseWithFlink/index.tsx
Due: none

fix: Remove redundant car image for order page
  src/pages/OceanBaseWithFlink/Order.tsx
Due: none

chore: schedule script test
  package.json
Due: prettier --cache --write

fix(build): Remove schedule dispatch
  package.json
Due: prettier --cache --write

improve(style): Add min-height: 800px
  src/pages/OceanBaseWithFlink/index.less
Due: prettier --cache --write, umi lint --fix --stylelint-only

chore(pkg): Add pm2:schedule script
  package.json
Due: prettier --cache --write

improve(style): delay 16ms to render path for accurate points
  src/pages/OceanBaseWithFlink/index.tsx
Due: none

improve(style): Adapt wide screen and narrow screen
  src/global.less
  src/pages/Layout/BasicLayout/index.tsx
  src/pages/Layout/BlankLayout/index.less
  src/pages/OceanBaseWithFlink/index.less
  src/pages/OceanBaseWithFlink/index.tsx
Due: prettier --cache --write, umi lint --fix --stylelint-only

improve(style): scroll bar color and width
  src/global.less
Due: prettier --cache --write, umi lint --fix --stylelint-only

improve(style): chart padding
  src/pages/OceanBaseWithFlink/Chart.tsx
Due: none

improve(style): 1080px => 960px for page min-width
  src/pages/Layout/BasicLayout/index.tsx
Due: none

fix(style): 100vw => 100% for content area
  src/pages/OceanBaseWithFlink/index.less
  src/pages/OceanBaseWithFlink/index.tsx
Due: prettier --cache --write, umi lint --fix --stylelint-only

improve(style): max-width => 1920px, max-height => 1080px
  src/pages/OceanBaseWithFlink/index.less
Due: prettier --cache --write, umi lint --fix --stylelint-only

improve(style): Add Empty status for chart
  src/pages/OceanBaseWithFlink/Chart.tsx
  src/pages/OceanBaseWithFlink/index.tsx
Due: none

improve(style): Add ::-webkit-scrollbar style
  src/global.less
Due: prettier --cache --write, umi lint --fix --stylelint-only

fix(style): .ms-theme-light => div.ms-theme-light for higher priority
  src/global.less
Due: prettier --cache --write, umi lint --fix --stylelint-only

improve(style): Display sql card scrollbar x for windows always
  package.json
  pnpm-lock.yaml
  src/pages/OceanBaseWithFlink/index.less
  src/pages/OceanBaseWithFlink/index.tsx
Due: prettier --cache --write, umi lint --fix --stylelint-only

improve(schedule): Use OceanBase as customerName
  sequelize/schedule.ts
Due: none

improve: Display month and day for not today
  public/.DS_Store
  src/pages/OceanBaseWithFlink/index.tsx
Due: none

fix(schedule): generate carOrder should be same
  sequelize/schedule.ts
Due: none

improve(chart): Set radiusTopLeft and radiusTopRight to 2 for column
  src/pages/OceanBaseWithFlink/Chart.tsx
Due: none

improve(style): max-width 1440px and max-height 810px for nested scenario
  src/pages/OceanBaseWithFlink/index.less
  src/pages/OceanBaseWithFlink/index.tsx
Due: prettier --cache --write, umi lint --fix --stylelint-only

improve(chart): column maxWdith 64px => 44px
  src/pages/OceanBaseWithFlink/Chart.tsx
Due: none

improve(seed): Add requestId
  sequelize/seed.ts
Due: none
