Repository dengfuping/oceanbase-playground: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, umi lint --fix --eslint-only, umi lint --fix --stylelint-only

chore: OceanbaseWithFlink => OceanBaseWithFlink
  routes.ts
  src/pages/OceanBaseWithFlink/Chart.tsx
  src/pages/OceanBaseWithFlink/NewOrder.tsx
  src/pages/OceanBaseWithFlink/Order.tsx
  src/pages/OceanBaseWithFlink/OrderForm.tsx
  src/pages/OceanBaseWithFlink/constant.ts
  src/pages/OceanBaseWithFlink/index.less
  src/pages/OceanBaseWithFlink/index.tsx
  src/pages/OceanBaseWithFlink/util.ts
Due: prettier --cache --write, umi lint --fix --stylelint-only

feat(locale): Support en-US
  src/locales/.prettierrc
  src/locales/en-US.ts
  src/locales/zh-CN.ts
  src/pages/Layout/index.tsx
  src/pages/OceanBaseWithFlink/OrderForm.tsx
  src/pages/OceanBaseWithFlink/constant.ts
  src/pages/OceanBaseWithFlink/index.less
  src/pages/OceanBaseWithFlink/index.tsx
  src/pages/OceanbaseWithFlink/OrderForm.tsx
  src/pages/OceanbaseWithFlink/constant.ts
  src/pages/OceanbaseWithFlink/index.less
  src/pages/OceanbaseWithFlink/index.tsx
Due: prettier --cache --write, umi lint --fix --stylelint-only

feat: Support to switch locale
  src/pages/Layout/index.tsx
  src/pages/OceanBaseWithFlink/index.tsx
  src/pages/OceanbaseWithFlink/index.tsx
Due: none

chore: Display QR code
  src/pages/OceanBaseWithFlink/index.tsx
  src/pages/OceanbaseWithFlink/index.tsx
Due: none

config: use navigator.language as default locale
  .umirc.ts
Due: none

improve(locale): Add missing locale text
  src/locales/en-US.ts
  src/locales/zh-CN.ts
  src/pages/OceanBaseWithFlink/Chart.tsx
  src/pages/OceanbaseWithFlink/Chart.tsx
Due: none

fix(fc): Modify function name
  s.yaml
Due: none

chore(fc): Rename service and function
  s.yaml
Due: none

chore: Hide and QR code for now
  src/pages/OceanBaseWithFlink/index.tsx
  src/pages/OceanbaseWithFlink/index.tsx
Due: none

chore: Add latency data for status api
  src/api/v1/car_orders/status.ts
Due: none

chore(seed): 100000 => 10000 for batch insert size
  sequelize/seed.ts
Due: none

chore(docs): Add README.md
  .env.example
  README.md
Due: prettier --cache --write

chore(config): Update vercel.json
  vercel.json
Due: prettier --cache --write

chore: Add LICENSE
  .prettierignore
  LICENSE
  vercel.json
Due: prettier --cache --write

feat: New style for site
  package.json
  pnpm-lock.yaml
  src/locales/en-US.ts
  src/locales/zh-CN.ts
  src/pages/OceanBaseWithFlink/Chart.tsx
  src/pages/OceanBaseWithFlink/OrderForm.less
  src/pages/OceanBaseWithFlink/OrderForm.tsx
  src/pages/OceanBaseWithFlink/constant.ts
  src/pages/OceanBaseWithFlink/global.less
  src/pages/OceanBaseWithFlink/index.less
  src/pages/OceanBaseWithFlink/index.tsx
  src/pages/OceanbaseWithFlink/Chart.tsx
  src/pages/OceanbaseWithFlink/OrderForm.tsx
  src/pages/OceanbaseWithFlink/constant.ts
  src/pages/OceanbaseWithFlink/index.less
  src/pages/OceanbaseWithFlink/index.tsx
Due: prettier --cache --write, umi lint --fix --stylelint-only

refact: Nextjs
  .eslintrc.json
  next.config.mjs
Due: prettier --cache --write

refact: Nextjs
  sequelize/seed.ts
  src/components/oceanbase-with-flink/Chart.tsx
  src/components/oceanbase-with-flink/OrderForm.module.less
  src/components/oceanbase-with-flink/OrderForm.tsx
  src/constants/index.tsx
  src/pages/oceanbase-with-flink/Order.tsx
  src/pages/oceanbase-with-flink/index.tsx
  src/pages/order-new/index.tsx
  src/pages/order/index.tsx
  src/utils/index.ts
Due: prettier --cache --write, umi lint --fix --stylelint-only

refact: Nextjs
  .babelrc
Due: none

feat: deploy to .zeabur
  package.json
  scripts/pre-deploy.sh
Due: prettier --cache --write

feat: deploy to .zeabur
  scripts/pre-deploy.sh
Due: none

feat: deploy to .zeabur
  src/pages/OceanBaseWithFlink/index.tsx
  src/pages/OceanbaseWithFlink/index.tsx
Due: none

feat: New style for site
  api/v1/car_orders/batch.js
  api/v1/car_orders/color_top3.js
  api/v1/car_orders/index.js
  api/v1/car_orders/latest.js
  api/v1/car_orders/total.js
  src/api/v1/car_orders/batch.ts
  src/api/v1/car_orders/color_top3.ts
  src/api/v1/car_orders/index.ts
  src/api/v1/car_orders/latest.ts
  src/api/v1/car_orders/total.ts
  src/locales/en-US.ts
  src/locales/zh-CN.ts
  src/pages/OceanBaseWithFlink/OrderForm.less
  src/pages/OceanBaseWithFlink/OrderForm.tsx
  src/pages/OceanBaseWithFlink/constant.ts
  src/pages/OceanBaseWithFlink/index.tsx
  src/pages/OceanbaseWithFlink/OrderForm.tsx
  src/pages/OceanbaseWithFlink/constant.ts
  src/pages/OceanbaseWithFlink/index.tsx
  src/services/CarOrderController.ts
Due: prettier --cache --write, umi lint --fix --eslint-only, umi lint --fix --stylelint-only

feat: New style for site
  package.json
Due: prettier --cache --write

config: Enable sourcemap for debug
  .umirc.ts
Due: none

improve(style): Follow design guide
  api/model.js
  api/v1/car_orders/batch.js
  api/v1/car_orders/color_top3.js
  api/v1/car_orders/index.js
  api/v1/car_orders/latest.js
  api/v1/car_orders/status.js
  api/v1/car_orders/total.js
  src/api/v1/car_orders/batch.ts
  src/api/v1/car_orders/color_top3.ts
  src/api/v1/car_orders/index.ts
  src/api/v1/car_orders/latest.ts
  src/api/v1/car_orders/total.ts
  src/app.ts
  src/pages/Layout/index.tsx
  src/pages/OceanBaseWithFlink/Chart.tsx
  src/pages/OceanBaseWithFlink/OrderForm.less
  src/pages/OceanBaseWithFlink/OrderForm.tsx
  src/pages/OceanBaseWithFlink/index.tsx
  src/pages/OceanBaseWithFlink/util.ts
  src/pages/OceanbaseWithFlink/Chart.tsx
  src/pages/OceanbaseWithFlink/OrderForm.tsx
  src/pages/OceanbaseWithFlink/index.tsx
  src/pages/OceanbaseWithFlink/util.ts
  src/services/CarOrderController.ts
Due: prettier --cache --write, umi lint --fix --eslint-only, umi lint --fix --stylelint-only

improve(style): 1540 => 1080 for minWidth
  src/pages/Layout/BasicLayout/index.tsx
  src/pages/OceanBaseWithFlink/index.tsx
  src/pages/OceanbaseWithFlink/index.tsx
Due: none

feat: support postMessage with trusted origin
  src/pages/OceanBaseWithFlink/index.tsx
  src/pages/OceanbaseWithFlink/index.tsx
Due: none

feat: Add event tracking
  package.json
  pnpm-lock.yaml
  src/pages/OceanBaseWithFlink/OrderForm.tsx
  src/pages/OceanBaseWithFlink/index.tsx
  src/pages/OceanbaseWithFlink/OrderForm.tsx
  src/pages/OceanbaseWithFlink/index.tsx
  src/services/TrackingController.ts
Due: prettier --cache --write

chore(config): Add google analytics
  .umirc.ts
Due: none

Path conditions:
  prettier --cache --write: ((any of: *.{md,json}) or (any of: *.{js,jsx})) or (any of: *.{css,less})
  umi lint --fix --eslint-only: any of: *.{js,jsx}
  umi lint --fix --stylelint-only: any of: *.{css,less}
