Repository dengfuping/oceanbase-playground: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, umi lint --fix --eslint-only, umi lint --fix --stylelint-only

feat: Add HTAP page
  .gitignore
  routes.ts
  src/api/model.ts
  src/api/v1/car_orders/batch.ts
  src/api/v1/car_orders/color_top3.ts
  src/api/v1/car_orders/latest.ts
  src/api/v1/car_orders/status.ts
  src/api/v1/car_orders/total.ts
  src/locales/en-US.ts
  src/locales/zh-CN.ts
  src/pages/OceanBaseWithFlink/Dashboard.tsx
  src/pages/OceanBaseWithFlink/NewOrder.tsx
  src/pages/OceanBaseWithFlink/Order.tsx
  src/pages/OceanBaseWithFlink/OrderForm.tsx
  src/pages/OceanBaseWithFlink/index.less
  src/pages/OceanBaseWithFlink/index.tsx
  src/pages/Order.tsx
  src/services/CarOrderController.ts
Due: prettier --cache --write, umi lint --fix --stylelint-only

fix(htap): should use ap model
  src/api/v1/car_orders/color_top3.ts
  src/api/v1/car_orders/latest.ts
  src/api/v1/car_orders/status.ts
  src/api/v1/car_orders/total.ts
  src/pages/OceanBaseWithFlink/Dashboard.tsx
  src/pages/OceanBaseWithFlink/index.tsx
  src/services/CarOrderController.ts
Due: none

fix: should syncing once when order success
  package.json
  pnpm-lock.yaml
  src/pages/OceanBaseWithFlink/Dashboard.tsx
  src/pages/OceanBaseWithFlink/index.tsx
Due: prettier --cache --write

chore(deps): Update deps to latest
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

improve(htap): Query today orders
  src/api/v1/car_orders/latest.ts
  src/api/v1/car_orders/status.ts
  src/locales/en-US.ts
  src/locales/zh-CN.ts
  src/pages/OceanBaseWithFlink/Dashboard.tsx
Due: none

improve: should alert all api errorMessage
  src/api/v1/car_orders/batch.ts
  src/app.ts
Due: none

improve(htap): text and style
  src/pages/OceanBaseWithFlink/Dashboard.tsx
  src/pages/OceanBaseWithFlink/index.tsx
Due: none

improve(htap): path and animation
  src/pages/OceanBaseWithFlink/OrderForm.tsx
  src/pages/OceanBaseWithFlink/index.tsx
Due: none

improve(htap): Add type for sql text
  src/api/model.ts
  src/api/v1/car_orders/batch.ts
  src/api/v1/car_orders/color_top3.ts
  src/api/v1/car_orders/latest.ts
  src/api/v1/car_orders/total.ts
Due: none

fix(htap): creating status should be correct
  src/pages/OceanBaseWithFlink/OrderForm.tsx
Due: none

chore(htap): Update qrcode
  src/pages/OceanBaseWithFlink/OrderForm.tsx
Due: none

fix(order): type query should work
  src/pages/Order.tsx
Due: none

chore(htap):add intl search params for language support
  src/pages/OceanBaseWithFlink/index.tsx
Due: none

chore(htap):add intl search params for language support (#2)
  src/pages/OceanBaseWithFlink/index.tsx
Due: none

update intl text
  src/locales/en-US.ts
Due: none

update redirect to htap
  routes.ts
Due: none

chore(intl): update intl text and update default redirect (#3)
  routes.ts
  src/locales/en-US.ts
Due: none

update intl translations
  src/locales/en-US.ts
Due: none

chore(htap): update intl transition (#4)
  src/locales/en-US.ts
Due: none

style: styles issues fixed
  src/pages/OceanBaseWithFlink/Chart.tsx
  src/pages/OceanBaseWithFlink/Dashboard.tsx
  src/pages/OceanBaseWithFlink/index.tsx
Due: none

chore: update package.json
  package.json
Due: prettier --cache --write

style: styles issues fixed (#5)
  package.json
  src/pages/OceanBaseWithFlink/Chart.tsx
  src/pages/OceanBaseWithFlink/Dashboard.tsx
  src/pages/OceanBaseWithFlink/index.tsx
Due: prettier --cache --write

syle: add tooltip for ellipsis content
  src/pages/OceanBaseWithFlink/Dashboard.tsx
Due: none

chore: add placement
  src/pages/OceanBaseWithFlink/Dashboard.tsx
Due: none

chore: remove space
  src/pages/OceanBaseWithFlink/Dashboard.tsx
Due: none

chore: update en-us language
  src/locales/en-US.ts
Due: none

syle: add tooltip for ellipsis content (#6)
  src/locales/en-US.ts
  src/pages/OceanBaseWithFlink/Dashboard.tsx
Due: none

fix: fix ch_name generate error problem
  package.json
  src/pages/OceanBaseWithFlink/NewOrder.tsx
  src/pages/OceanBaseWithFlink/util.ts
Due: prettier --cache --write

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

fix: fix ch_name generate error problem (#7)
  package.json
  pnpm-lock.yaml
  src/pages/OceanBaseWithFlink/NewOrder.tsx
  src/pages/OceanBaseWithFlink/util.ts
Due: prettier --cache --write

fix(build): upgrade jsMinifierOptions target to es2020 for BigInt support
  .umirc.ts
Due: none

Path conditions:
  prettier --cache --write: ((any of: *.{md,json}) or (any of: *.{js,jsx})) or (any of: *.{css,less})
  umi lint --fix --eslint-only: any of: *.{js,jsx}
  umi lint --fix --stylelint-only: any of: *.{css,less}
