Repository dengfuping/oceanbase-playground: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, umi lint --fix --eslint-only, umi lint --fix --stylelint-only

Basic UI
  package.json
  prisma/migrations/20240413074355_init/migration.sql
  prisma/schema.prisma
  src/api/client.ts
  src/api/v1/car_orders/count.ts
  src/api/v1/car_orders/index.ts
  src/global.less
  src/pages/Layout/BasicLayout/index.tsx
  src/pages/Layout/BlankLayout/index.tsx
  src/pages/Layout/index.tsx
  src/pages/OceanbaseWithFlink/Buy.tsx
  src/pages/OceanbaseWithFlink/constant.ts
  src/pages/OceanbaseWithFlink/index.tsx
  src/services/CarOrderController.ts
Due: prettier --cache --write, umi lint --fix --stylelint-only

feat: Dynamic data
  package.json
  pnpm-lock.yaml
  src/api/v1/car_orders/color_top3.ts
  src/api/v1/car_orders/latest.ts
  src/api/v1/car_orders/total.ts
  src/pages/OceanbaseWithFlink/Buy.tsx
  src/pages/OceanbaseWithFlink/Chart.tsx
  src/pages/OceanbaseWithFlink/animation/element-update.ts
  src/pages/OceanbaseWithFlink/animation/getEasing.ts
  src/pages/OceanbaseWithFlink/animation/index.ts
  src/pages/OceanbaseWithFlink/animation/threeBezier.ts
  src/pages/OceanbaseWithFlink/index.less
  src/pages/OceanbaseWithFlink/index.tsx
  src/pages/OceanbaseWithFlink/util.ts
  src/services/CarOrderController.ts
Due: prettier --cache --write, umi lint --fix --stylelint-only

feat: Use sequelize as ORM
  package.json
  pnpm-lock.yaml
  prisma/migrations/20240413074355_init/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  src/api/client.ts
  src/api/dataSource.ts
  src/api/entity/OLAPCarOrder.ts
  src/api/entity/OLTPCarOrder.ts
  src/api/model.ts
  src/api/v1/car_orders/color_top3.ts
  src/api/v1/car_orders/index.ts
  src/api/v2/car_orders/color_top3.ts
  src/api/v2/car_orders/index.ts
  src/api/v2/car_orders/latest.ts
  src/api/v2/car_orders/total.ts
  src/api/v3/car_orders/color_top3.ts
  src/api/v3/car_orders/index.ts
  src/api/v3/car_orders/latest.ts
  src/api/v3/car_orders/total.ts
  src/pages/OceanbaseWithFlink/Buy.tsx
  src/pages/OceanbaseWithFlink/index.tsx
  src/services/CarOrderController.ts
Due: prettier --cache --write

333
  vercel.json
Due: prettier --cache --write

444
  package.json
  src/temp/client.ts
  src/temp/dataSource.ts
  src/temp/entity/OLAPCarOrder.ts
  src/temp/entity/OLTPCarOrder.ts
  src/temp/v2/car_orders/color_top3.ts
  src/temp/v2/car_orders/index.ts
  src/temp/v2/car_orders/latest.ts
  src/temp/v2/car_orders/total.ts
  src/temp/v3/car_orders/color_top3.ts
  src/temp/v3/car_orders/index.ts
  src/temp/v3/car_orders/latest.ts
  src/temp/v3/car_orders/total.ts
  vercel.json
Due: prettier --cache --write

555
  vercel.json
Due: prettier --cache --write

666
  package.json
Due: prettier --cache --write

777
  package.json
Due: prettier --cache --write

888
  package.json
Due: prettier --cache --write

999
  package.json
Due: prettier --cache --write

feat: submit api directory
  .gitignore
  package.json
Due: prettier --cache --write

feat: submit api directory
  api/_middlewares.js
  api/model.js
  api/v1/car_orders/color_top3.js
  api/v1/car_orders/index.js
  api/v1/car_orders/latest.js
  api/v1/car_orders/total.js
Due: prettier --cache --write, umi lint --fix --eslint-only

feat: simulate multiple user to order
  src/pages/OceanbaseWithFlink/Buy.tsx
  src/pages/OceanbaseWithFlink/index.tsx
Due: none

fix: realtime order should display correctly
  src/pages/OceanbaseWithFlink/EChart.tsx
  src/pages/OceanbaseWithFlink/index.tsx
Due: none

feat: simulate multiple user to order
  src/pages/OceanbaseWithFlink/Buy.tsx
Due: none

chore: Rename Buy => Order
  routes.ts
  src/pages/OceanbaseWithFlink/Chart.tsx
  src/pages/OceanbaseWithFlink/Order.tsx
  src/pages/OceanbaseWithFlink/index.tsx
Due: none

fix: white color should work
  src/pages/OceanbaseWithFlink/constant.ts
Due: none

create s.yaml content
  s.yaml
Due: none

improve: style
  src/pages/OceanbaseWithFlink/Order.tsx
  src/pages/OceanbaseWithFlink/index.tsx
Due: none

improve: text
  src/pages/OceanbaseWithFlink/OrderForm.tsx
  src/pages/OceanbaseWithFlink/constant.ts
  src/pages/OceanbaseWithFlink/index.tsx
Due: none

feat: support to random generate customerName
  src/pages/OceanbaseWithFlink/OrderForm.tsx
Due: none

feat: Add qrcode
  src/pages/OceanbaseWithFlink/OrderForm.tsx
  src/pages/OceanbaseWithFlink/index.less
  src/pages/OceanbaseWithFlink/index.tsx
Due: prettier --cache --write, umi lint --fix --stylelint-only

improve: Remove unused deps and use online font files
  .umirc.ts
  package.json
  pnpm-lock.yaml
  public/.DS_Store
  public/assets/.DS_Store
  public/js/iconfont.js
  public/lottie/.DS_Store
  public/lottie/backup.json
  public/lottie/diagnosis.json
  public/lottie/log.json
  public/lottie/monitor.json
  public/lottie/overview.json
  public/lottie/property.json
  public/lottie/tenant.json
  routes.ts
  src/pages/Layout/BasicLayout/index.less
  src/pages/Layout/BasicLayout/index.tsx
  src/pages/Layout/BlankLayout/index.less
  src/pages/Layout/index.tsx
  src/pages/OceanbaseWithFlink/AlibabaPuHuiTi-Bold.ttf
  src/pages/OceanbaseWithFlink/AlibabaPuHuiTi-Bold.woff
  src/pages/OceanbaseWithFlink/AlibabaPuHuiTi-Bold.woff2
  src/pages/OceanbaseWithFlink/AlimamaShuHeiTi-Bold.ttf
  src/pages/OceanbaseWithFlink/AlimamaShuHeiTi-Bold.woff
  src/pages/OceanbaseWithFlink/AlimamaShuHeiTi-Bold.woff2
  src/pages/OceanbaseWithFlink/index.less
  src/pages/OceanbaseWithFlink/index.tsx
Due: prettier --cache --write, umi lint --fix --eslint-only, umi lint --fix --stylelint-only

improve: Order style
  src/pages/OceanbaseWithFlink/Order.tsx
  src/pages/OceanbaseWithFlink/index.tsx
Due: none

improve: Highlight sql latency style
  src/pages/OceanbaseWithFlink/index.tsx
Due: none

improve(chart): Use gradient color for Column
  src/pages/OceanbaseWithFlink/Chart.tsx
  src/pages/OceanbaseWithFlink/constant.ts
Due: none

chore: Hide debug and qrcode function
  src/pages/OceanbaseWithFlink/OrderForm.tsx
  src/pages/OceanbaseWithFlink/index.tsx
Due: none

feat: Add highlight style for added order
  src/pages/Layout/index.tsx
  src/pages/OceanbaseWithFlink/index.tsx
Due: none

Path conditions:
  prettier --cache --write: ((any of: *.{md,json}) or (any of: *.{js,jsx})) or (any of: *.{css,less})
  umi lint --fix --eslint-only: any of: *.{js,jsx}
  umi lint --fix --stylelint-only: any of: *.{css,less}
